.workspace-canvas {
    border:1px solid @textColor;
    box-shadow: 10px 5px 5px @textColor;
    overflow:hidden;
}

canvas-widget {
    // overflow: hidden;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.resize-handle {
    fill: white;
    stroke: @textColor;
    border-radius: 1px;
}

.resize-handle-ew {
    cursor: ew-resize;
}
.resize-handle-ns {
    cursor: ns-resize;
}
.resize-handle-nw {
    cursor: nwse-resize;
}
.resize-handle-ne {
    cursor: nesw-resize;
}
.resize-handle-se {
    cursor: nwse-resize;
}
.resize-handle-sw {
    cursor: nesw-resize;
}

.rotate-handle {
    cursor: pointer;
}
